/* ADD/REMOVE/CHANGE THEMES HERE */

// Giving the default theme a name
@include theme-maker("default", ());

@include theme-maker("slbblue", (
 
  theme (
    bg #076CC1,
    color #000000
  ),

  body (
  bg #FCFCFC,
  color #555F65
  ),

  header (
    bg #DDE6F3,
    color #555F65,
    logout (
      bg #076CC1,
      hover-bg #81B3D7
    )
  ),

  sidebar (
    bg #DDE6F3,
    avatar (
      bg #076CC1,
    ),
    controls (
      bg #81B3D7,
      btn (
        color lighten(#81B3D7, 25%),
        border #076CC1,
        active-bg #F2F4F4,
        active-color darken(#81B3D7, 5%)
      )
    )
  ),

  components (
  link (
    color #076CC1
  ),

  panel (
    bg #FFFFFF,
    border #81B3D7
  ),

  form-control (
    border #81B3D7,
    active (
    border #076CC1
    )
  )
  ),

  footer (
  bg #fCfCfC,
  color #555F65
  )
));
