/*****Streamline-Bookings CSS*****/

/*****GENERAL*****/

form.form-horizontal {
    margin-bottom: 20em;
}

.dropdown-menu {
    min-width: 250px !important;
}

.dropdown-menu li {
    min-width: 225px !important; 
}

ul.menu-slbprimary.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

/****HEADER****/
.header-menu > .dropdown-menu {
  height: 500px;
  overflow: auto !important;
}


/****SIDEBAR*****/

html.default body .sidebar-nav-container > .sidebar-nav > li.active > a {
    background-color: #FCFCFC;
}

.horizontal-center {
    margin: auto;
}


/*****LEVELS*****/

.proficiency-list {
    max-width: 300px !important;
    height: 1000px !important;
    max-height: 1000px !important;
}

.proficiency-pane {
    border: 1px solid lightgrey;
    padding: 3px;
    margin: 2px 0 0 0;
}

.slb-proficiency-pane-button {
    float: right;
}


/*****STAFF*****/

.inactive-staff {
    font-weight: normal;
    font-size: smaller;
    font-style: italic;
}

/*****GROUPS*****/

.inactive-group {
    font-weight: normal;
    font-size: smaller;
    font-style: italic;
}



/*****CALENDAR*****/

$slot-width: 40px;              // Must match .draggable grid in calendar.js
$slot-height: 60px;
$class-width: 36px;             // This width + 2 x class-margin must = slot-width
$class-height: 56px;            // This height + 2 x class-margin must = slot-height
$class-margin: 2px;
$class-detail-padding: 2px;
$header-height: 30px;
$basin-width: 120px;
$border-color-1: darkmagenta;
$border-color-2: grey;

// Slots generally should define the right + bottom borders
@mixin slot-basic() {
	display: inline-block;
    width: $slot-width;
    height: $slot-height;
}
.top-left {
    @include slot-basic();
    border-width: 1px 1px 1px 1px;
    border-color: $border-color-1;
    border-style: solid;
}
.top-right {
    @include slot-basic();
    border: 1px dotted $border-color-1;
}
.bottom-left {
    @include slot-basic();
    border-width: 1px 0px 0px 1px;
    border-color: $border-color-1;
    border-style: solid;
}
.bottom-right {
    @include slot-basic();
}
.top-hour {
    @include slot-basic();
    border-width: 1px 1px 1px 0px;
    border-color: $border-color-1;
    border-style: solid;
    border-right-color: $border-color-2;
    border-right-style: solid;
}
.bottom-hour {
    @include slot-basic();
}
.top {
    @include slot-basic();
    border-width: 1px 1px 1px 0px;
    border-color: $border-color-1;
    border-style: solid;
    border-right-color: $border-color-2;
    border-right-style: dotted;
}
.bottom {
    @include slot-basic();
}
.left {
    @include slot-basic();
    border-width: 0px 1px 1px 1px;
    border-color: $border-color-1;
    border-style: solid;
}
.right {
    @include slot-basic();
}
.hour {
    @include slot-basic();
    border-width: 0px 1px 1px 0px;
    border-color: $border-color-2;
    border-style: dotted;
    border-right-style: solid;
    border-bottom-color: $border-color-1;
    border-bottom-style: solid;
}
.center {
    @include slot-basic();
    border-width: 0px 1px 1px 0px;
    border-color: $border-color-2;
    border-style: dotted;
    border-bottom-color: $border-color-1;
    border-bottom-style: solid;
}
.times-header-left {
    display: inline-block;
}
.times-header {
    display: inline-block;
    width: $slot-width;
    height: $header-height;
}
.basin {
    width: $basin-width;
    height: $slot-height;
}
.basin-header {
    height: $header-height * 2;
}


.swim-classes-container {
    width: 90%;
    overflow: auto;
    display: inline-block;
    white-space: nowrap;
    border: 1px solid $border-color-1;
}

.swim-lane {
    height: $slot-height;
    margin: 0;
    padding: 0;
}

.swim-class {
    width: $class-width;
    height: $class-height;
    border: 1px solid darkgrey;
    background-color: lightyellow;
    margin: $class-margin;
    padding: 0;
    overflow: auto;
    line-height: 1em;
}

.swim-class-detail {
    padding: $class-detail-padding;
    font-size: x-small;
}


.react-datepicker__month-container {
    font-size: 1.5em;
}

.react-datepicker__current-month {
    font-size: 1em;
}

.react-datepicker-popper {
    position: relative !important;
    transform: initial !important;
    width: 300px;
    min-width: 200px;
}

.slbdanger {
    background-color: red;
}

.popover {
    width: 200px;
    height: 200px;
    background-color: lightgrey;
}


/***** MESSAGES *****/
.have-no-messages {
  margin-left: -10px;
  margin-top: -15px;
}
.have-new-messages {
  background-color: red;
  margin-left: -10px;
  margin-top: -15px;
}
.message-container {
    width: 80%;
}
.message-time {
    font-size: 0.5em;
}
.message-read .message-header {
    color: grey;
    font-size: 0.6em;
}
.message-unread .message-header {
  color: green;
  font-size: 0.8em;
  font-weight: 400;
}
.message-read .message-content {
  font-size: 0.5em;
}
.message-unread .message-content {
  font-size: 0.6em;
}
.btn-message-read {
    color: grey;
    width: 50px;
    height: 14px;
    font-size: 0.5em;
    border-radius: 10px;

}
.btn-message-unread {
    color: blue;
    width: 50px;
    height: 14px;
    font-size: 0.5em;
    border-radius: 10px;
 }